<main id="main">
	<div class="title">
		<div class="titles">
			<h2>Accounts</h2>
			<p>Manage Accounts for receiving tickets.</p>
		</div>
	</div>
	<div class="content">
		<div class="tabs vertical platforms flex">
			<!-- Nav tabs -->
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active">
					<a href="#facebook-tab" role="tab" data-toggle="tab">
						<i class="fa fa-facebook-square"></i>
						<h3>Facebook <span>{{Facebookcount}} accounts</span></h3>
					</a>
				</li>
				<li role="presentation" class="">
					<a href="#twitter-tab" role="tab" data-toggle="tab">
						<i class="fa fa-twitter-square"></i>
						<h3>Twitter <span>{{Twittercount}} accounts</span></h3>
					</a>
				</li>
				<li role="presentation" class="">
					<a href="#instagram-tab" role="tab" data-toggle="tab">
						<i class="fa fa-instagram"></i>
						<h3>Instagram <span>{{InstaPagescount}} account</span></h3>
					</a>
				</li>
				<li role="presentation" class="">
					<a href="#snapchat-tab" role="tab" data-toggle="tab">
						<i class="fa fa-snapchat"></i>
						<h3>Snapchat <span>{{InstaPagescount}} account</span></h3>
					</a>
				</li>
				<li role="presentation" class="">
					<a href="#linkedin-tab" role="tab" data-toggle="tab">
						<i class="fa fa-linkedin"></i>
						<h3>LinkedIn <span>{{InstaPagescount}} account</span></h3>
					</a>
				</li>
				<li role="presentation" class="">
					<a href="#email-tab" role="tab" data-toggle="tab">
						<i class="fa fa-envelope"></i>
						<h3>Email <span>3 accounts</span></h3>
					</a>
				</li>
				<li role="presentation" class="">
					<a href="#livechat-tab" role="tab" data-toggle="tab">
						<i class="fa fa-comments-o"></i>
						<h3>Live Chat <span>4 widgets</span></h3>
					</a>
				</li>
			</ul>
			<div class="tab-content col-sm">
				<div role="tabpanel" class="tab-pane fade in active" id="facebook-tab">
					<div class="title">
						<div class="titles">
							<h2>Facebook</h2>
						</div>
						<div class="buttons">
							<a href="/auth/facebook" class="btn btn-success btn-sm">Add account</a>
						</div>
					</div>
					{{#each Accounts}}
					<h3>Pages from {{name.full}}'s Account</h3>
					<div class="accounts" id="{{accountId}}">
						{{#each ../Pages}}
						{{#ifeq ../accountId accountId}}
						<div class="account">
							<a href="/page?Id={{pageId}}"><p class="account-title">{{pagename}}</p></a>
							<div class="account-brand">
								<button class="btn btn-success" id="unsubscribe-{{pageId}}" onclick="unsubscribePage('{{pageId}}','{{accessToken}}')">Unsubscribe</button>
								<button class="btn btn-success" id="subscribe-{{pageId}}" onclick="subscribePage('{{pageId}}','{{accessToken}}')">Subscribe</button>
							</div>
						</div>
						{{/ifeq}}
						{{/each}}
					</div>
					{{/each}}
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="twitter-tab">
					<div class="title">
						<div class="titles">
							<h2>Twitter</h2>
						</div>
						<div class="buttons">
							<a href="/auth/twitter" class="btn btn-success btn-sm">Add account</a>
						</div>
					</div>
					{{#each Twitter}}
					<h3>Accounts</h3>
					<div class="accounts" id="{{accountId}}">
						<div class="account">
							<a href="/twitter/feed?id={{accountId}}"><p class="account-title">{{name.first}}</p></a>
						</div>
					</div>
					{{/each}}
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="instagram-tab">
					<div class="title">
						<div class="titles">
							<h2>Instagram</h2>
						</div>
						<div class="buttons">
							<a href="/auth/facebook" class="btn btn-success btn-sm">Add account</a>
						</div>
					</div>
					{{#each Accounts}}
					<h3>Instagram from {{name.full}}'s Account</h3>
					<div class="accounts" id="{{accountId}}">
						{{#each ../InstaPages}}
						{{#ifeq ../accountId accountId}}
						<div class="account">
							<a href="/instagramfeed?Id={{pageId}}"><p class="account-title">{{pagename}}</p></a>
						</div>
						{{/ifeq}}
						{{/each}}
					</div>
					{{/each}}
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="snapchat-tab">
					<div class="title">
						<div class="titles">
							<h2>Snapchat</h2>
						</div>
						<div class="buttons">
							<a href="/auth/twitter" class="btn btn-success btn-sm">Add account</a>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="linkedin-tab">
					<div class="title">
						<div class="titles">
							<h2>LinkedIn</h2>
						</div>
						<div class="buttons">
							<a href="/auth/twitter" class="btn btn-success btn-sm">Add account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<script>

	{{#each Pages}}
		if('{{status}}' == 'subscribe'){
			$('#subscribe-{{pageId}}').hide();
			$('#unsubscribe-{{pageId}}').show();
		}
		else{
			$('#subscribe-{{pageId}}').show();
			$('#unsubscribe-{{pageId}}').hide();
		}
	{{/each}}

	window.fbAsyncInit = function() {
	    FB.init({
	      appId            : '172494766720528',
	      autoLogAppEvents : true,
	      xfbml            : true,
	      version          : 'v2.12'
	    });

	    subscribePage = function(pageId,page_token){
	    	FB.api(
	    	    "/"+pageId+"/subscribed_apps",
	    	    "POST",
	    	    {
	    	    	"access_token": page_token
	    	    },
	    	    function (response) {
	    	      if (response && !response.error) {
	    	      	console.log(response);
	    	      	$.ajax(
	    	      	{
	    	      	    type: 'POST',
	    	      	    data: {"Id": pageId},
	    	      	    url: '/api/channel/subscribe',                
	    	      	    success: function(data) 
	    	      	    {
			    	      	$('#subscribe-'+pageId).hide();		        
			    	      	$('#unsubscribe-'+pageId).show();		        
	    	      	        console.log('success subscribtion');
	    	      	    }
	    	      	});
	    	      }
	    	      else{
	    	      	console.log(response.error)
	    	      }
	    	    }
	    	);
	    }

	    unsubscribePage = function(pageId,page_token){
	    	FB.api(
	    	    "/"+pageId+"/subscribed_apps",
	    	    "DELETE",
	    	    {
	    	    	"access_token": page_token
	    	    },
	    	    function (response) {
	    	      if (response && !response.error) {
	    	      	console.log(response)
  	    	      	$.ajax(
  	    	      	{
  	    	      	    type: 'POST',
  	    	      	    data: {"Id": pageId},
  	    	      	    url: '/api/channel/unsubscribe',                
  	    	      	    success: function(data) 
  	    	      	    {
			    	      	$('#subscribe-'+pageId).show();
			    	      	$('#unsubscribe-'+pageId).hide();
  	    	      	        console.log('success unsubscribtion');
  	    	      	    }
  	    	      	});
	    	      }
	    	      else{
	    	      	console.log(response.error)
	    	      }
	    	    }
	    	);
	    }
	  };

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));



</script>